@import '../../styles/variables';

.root {
  background: #fafafa;
  text-align: center;
  padding: 2rem;
}

.image {
  width: 5rem;
}

.heading {
  font-size: 1.7rem;
  font-weight: 500;
}

.base {
  color: darken($grey, 15%);
}

.bot {
  color: $primaryColor;
}
