@import '../../styles/variables';

.root {
  height: 5.5rem;
  display: flex;
  width: 100%;
  border-top: 0.1rem solid $grey;
  padding: 0.5rem;
}

.disabled {
  background: darken($lightGrey, 5%);
  cursor: not-allowed;
}

.input {
  flex: 1 1 auto;
  input {
    line-height: 4.5rem;
    border: 0 !important;
    outline:0;
  }
}

.button {
  background: transparent !important;
  color: $primaryColor !important;
  box-shadow: none !important;
  border: 0 !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  svg {
    font-size: 1.8rem;
  }
}
